---
import MainLayout from "../../layouts/Layout.astro";
import { slugify, formatProducts } from "../../js/utils";
import Breadcrumb from "../../components/Breadcrumb.astro";

const allProducts = await Astro.glob("../../pages/products/*.md");
const formattedProducts = formatProducts(allProducts);
const allCategories = formattedProducts
  .map((cat) => cat.frontmatter.category)
  .flat();

  const processedCats = allCategories.reduce((accumulator, current) => {
  if (!accumulator.find((item) => item.name === current.name)) {
    accumulator.push(current);
  }
  return accumulator;
}, []);

const { showCount } = Astro.props;

console.log(processedCats);

---

<MainLayout title="">
  <Breadcrumb pagename="Shop" />

  <section class="container g-my-50">
    <div class="row" id="categories">
        {
          Object.entries(processedCats).map(([key, val]) => (
              <div class="col-sm-6 col-md-3 g-mb-30">
                <article class="g-pos-rel g-rounded-4 g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover text-center g-transition-0_3 g-transition--linear">
                  <figure class="g-brd-top g-brd-left g-brd-right g-brd-1 g-brd-gray-light-v4" >
                    <img class="w-100" src={val.image} alt="Image Description">
                  </figure>
                  <div class="g-bg-secondary g-pa-30">
                    <h3 class="h4">
                      <a class="g-color-main g-color-primary--hover g-text-underline--none--hover" href={`/category/${val.name}`.toLowerCase()}>{val.name}</a>
                    </h3>
                  </div>
                </article>
              </div>
          ))
        }
    </div>
  </section>
</MainLayout>
