---
import MainLayout from "../../layouts/Layout.astro";
import { slugify, formatProducts } from "../../js/utils";
import Breadcrumb from "../../components/Breadcrumb.astro";

const allProducts = await Astro.glob("../../pages/products/*.md");
const formattedProducts = formatProducts(allProducts);
const allCategories = formattedProducts
  .map((cat) => cat.frontmatter.category)
  .flat();

  const processedCats = allCategories.reduce((accumulator, current) => {
  if (!accumulator.find((item) => item.name === current.name)) {
    accumulator.push(current);
  }
  return accumulator;
}, []);

const { showCount } = Astro.props;

console.log(processedCats);

---

<MainLayout title="">
  <Breadcrumb pagename="Shop" />

  <section class="container g-my-50 mt-5">
  <h2 class="text-center py-3">What We Sell</h2>
    <div class="row" id="categories">

        {
          Object.entries(processedCats).map(([key, val]) => (
               <div class="col-md-3 col-6 learts-mb-40">
                <div class="category-banner4">
                    <a href={`/category/${val.name}`.toLowerCase()} class="inner">
                        <div class="image">
                          <img class=" ls-is-cached lazyloaded" src={val.image} alt="">
                        </div>
                        <div class="content">
                            <h3 class="title">
                              {val.name}
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
          ))
        }
    </div>
  </section>

  <style>
    .category-banner4 .inner .image::before {border: 1px solid #ffffff;}
    .category-banner4 .inner .content .title {color: #ffffff;}
    .category-banner4 .inner .content {background-color: #8C8A93 !important;}
  </style>

</MainLayout>
