---
import Breadcrumb from "../../components/Breadcrumb.astro";
import Layout from "../../layouts/Layout.astro";
import {CollectionEntry, getCollection} from "astro:content";
const healers = await Astro.glob('../../content/healers/*.md');
const allHealers = healers.map(n => ({
  name: n.frontmatter.name,
  image: n.frontmatter.image.src,
  alt: n.frontmatter.image.alt,
  type: n.frontmatter.type,
  Content: n.Content
}));
---

<Layout title="Our energy healers">
   <Breadcrumb pagename="Healings" />
      <section class="container g-pt-100 g-pb-40" aria-label="Healers">
        {allHealers.map(({ name,image,alt,type, Content }) => (
            <article class="row flex-md-row align-items-center text-center">
              <div class="col-lg-6 g-mb-50">
                <h3 class="h1 g-color-black g-font-weight-700 text-uppercase g-line-height-1_2 g-mb-35">{name}</h3>
                <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary g-mb-30">{type}</em>
                <div class="g-px-70--md g-mb-20">
                  <Content />
                </div>
              </div>
              <div class="col-lg-6 g-mb-50">
                <img class="img-fluid w-100" src={image} alt={alt}>
              </div>
            </article>
        ))}
    </section>
</Layout >