---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Spellbound Magical Gifts">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script is:inline>
    $(document).ready(function(){
        $('.learts-testimonial-carousel').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            width: '390px',
        });
    });
</script>

<link rel="stylesheet" id="learts-main-style-css" href="https://learts-4437.kxcdn.com/wp-content/themes/learts/style.min.css?ver=6.9.4" type="text/css" media="all">
<style>
    .learts-testimonial-carousel__text{
        font-size: 16px !important;
        padding: 20px;
    }
    .learts-testimonial-carousel img{
        border-radius: 50%;
    }
    .multiple-testimonials .box-cite, .multiple-testimonials .learts-testimonial-carousel__img {
        display: inline-block;
        vertical-align: middle;
    }
</style>

<div id="shopify-section-template--15812670685241__about-us-with-banner" class="shopify-section">
    <!-- About Section Start -->
    <div id="section-template--15812670685241__about-us-with-banner" class="section section-padding  section-normal ">
        <div class="container">

            <!-- Section Title Start --><!-- Section Title End -->

            <div class="row learts-mb-n30">
                <div class="col-lg-5 col-md-6 col-12 align-self-center learts-mb-30">
                    <div class="about-us3">
                        <h2 class="title">Our Story</h2>
                        <h5>Sacred space. Soulful connection.</h5>
                        <div class="desc">
                            <p>For 24 years, Spellbound has been a place of magic, healing, and connection in the heart of our community. What began as a little shop filled with crystals and curiosities has grown into a sacred space for spiritual seekers of all ages - a home for the mystical, the magical, and the meaningful.
                                <p>We offer so much more than gifts. We offer guidance, growth, and a sense of coming home - through tarot, healing sessions, meditation, and workshops that inspire inner transformation.
                                    <p>Our shelves are lined with hand-chosen treasures: crystals, gemstone jewellery, candles, tarot decks, herbs, oils, books, incense, fairy wands and more. Every item carries intention. Every corner invites you to slow down, breathe, and remember your magic.
                                        <p>As we refresh our space and step into a new chapter, our heart remains the same:

                                            <p>To create a welcoming sanctuary where wonder is real, and your spirit is always seen.
                        </div>
                    </div>
                </div><!-- About Us Image Start -->
                <div class="col-lg-6 col-md-6 col-12  ml-lg-auto  learts-mb-30">
                    <div class="about-us-image"><img class=" ls-is-cached lazyloaded" style="object-fit: cover;width:100%;height:600px;"
                            src="/img/tree.webp" alt="">
                    </div>
                    <blockquote class="learts-blockquote2 pt-5">
                        <div class="content">Spellbound — where energy shifts, and hearts remember.</div>
                    </blockquote>
                </div>
                <!-- About Us Image End -->
            </div>
        </div>
    </div>
    <!-- About Section End -->




</div>

<div class="shopify">



    <article id="post-1506" class="post-1506 page type-page status-publish hentry">
	    <div class="entry-content">
            <div class="wpb-content-wrapper">
                <div class="vc_row wpb_row row">
                    <div class="wpb_column vc_column_container col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div style="font-size: 40px;color: #333333;line-height: 56px;text-align: center;font-family:Marcellus;font-weight:400;font-style:normal" class="vc_custom_heading vc_custom_1542697938395 title-learts">What Our Customers Say</div>
                                    <div class="wpb_text_column wpb_content_element vc_custom_1548649339002">
                                        <div class="wpb_wrapper">
                                            <p style="font-size: 18px; line-height: 32px; letter-spacing: 0.5px; color: #696969; text-align: center; font-weight: 300;">Listen to what existing and loyal customers have said about us.</p>
                                        </div>
                                    </div>
                                    <div class="tm-shortcode learts-space mb-5" id="learts-space-1"></div>


                                    <div class="tm-shortcode learts-testimonial-carousel slick-slider w-75 m-auto" id="learts-testimonial-carousel-1">
                                            <!-- start testimonials -->
                                            <div>
                                                <div class="learts-testimonial-carousel__text">
                                                    Adore this store and its staff! Meditation and readings are worthwhile - Shellagh is gifted and I always leave feeling refreshed. This store is a blessing to Gawler and many, many ppl!
                                                </div>
                                                <div class="cite-image learts-testimonial-carousel__img">
                                                    <img width="80" height="80" src="https://lh3.googleusercontent.com/a-/ALV-UjVr00Zidvpjy-Dm88AQZeI6XPwHwd1liF6OSfv7Fn9EP7nt3VYN=w36-h36-p-rp-mo-ba12-br100" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="">
                                                </div>

                                                <div class="box-cite">
                                                    <div class="learts-testimonial-carousel__cite">
                                                        Catherine Thiele
                                                    </div>
                                                </div>
                                            </div>

                                            <div>
                                                <div class="learts-testimonial-carousel__text">
                                                    One of my all time favourite stores! Been coming for years, even when I lived interstate when I'm come back for a visit I'd make sure to stop in! Everything spiritual you could even need from books, crystals, witchcraft supplies and the BEST bits for kids. The jewellery is incredible and so is the staff knowledge. They are always so helpful and wonderful! Love love love this store!
                                                </div>
                                                <div class="cite-image learts-testimonial-carousel__img">
                                                    <img width="80" height="80" src="https://lh3.googleusercontent.com/a-/ALV-UjULhqVZjub3gX-FMx4_UMstXTCZE6FRYG2ZC2RSWqXneeaPZ4b3=w36-h36-p-rp-mo-br100" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="">
                                                </div>

                                                <div class="box-cite">
                                                    <div class="learts-testimonial-carousel__cite">
                                                        Sage Henderson
                                                    </div>
                                                </div>
                                            </div>

                                              <div>
                                                <div class="learts-testimonial-carousel__text">
                                                    Eeeeeh I absolutely love this store. It is one of my favourite places to go. It always smells amazing and is full of beautiful crystals, jewelry, oracle and tarot cards,  giftwares, incense and just so many other beautiful things. Truly a magical shop!
                                                </div>
                                                <div class="cite-image learts-testimonial-carousel__img">
                                                    <img width="80" height="80" src="https://lh3.googleusercontent.com/a-/ALV-UjWycPHy7vQpvj9ycm9evoce04Zqzmha_oN0mFDae_Vk2gE5Oif1=w36-h36-p-rp-mo-br100" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="">
                                                </div>

                                                <div class="box-cite">
                                                    <div class="learts-testimonial-carousel__cite">
                                                        Shana Robb
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- end testimonials -->

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

</div>



</Layout>