---
import Layout from "../layouts/Layout.astro";
import Breadcrumb from '../components/Breadcrumb.astro';

import about from '../img/about.png';
---

<Layout title="Our Disclaimer Policy">
  <Breadcrumb pagename="Disclaimer" />
  <div id="section-template--14120370864185__162980389531f0c3b7" class="section section-padding  section-normal ">
    <div class="container">

      <div class="section-title2 row justify-content-between align-items-center">
        <div class="col-md-auto col-12">
            <h2 class="title title-icon-right">Disclaimer</h2>
        </div>
    </div>


        <div class="col">
            <p>We
              rent our healing and reading spaces to a trusted group of readers, mediums practitioners.</p>
            <p>We have a good working relationship with the people who work within our store, however, they operate their own
              businesses and are in no way employed by us.</p>
            <p>We accept no liability for your experience with and/or the advice given by practitioners and workshop
              facilitators.</p>
            <p>In the unlikely event that you have an issue with a workshop, reading or healing, please contact the reader /
              practitioner directly.</p>
            <p> We are happy to provide you with their contact details.</p>
          </div>
    </div>
  </div>

</Layout>
