---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Spellbound Magical Gifts">
    <div id="section-template--14120370864185__162980389531f0c3b7" class="section section-padding  section-normal ">
        <div class="container">
            <div class="section-title2 row justify-content-between align-items-center">
                <div class="col-md-auto col-12">
                    <h2 class="title title-icon-right">Healings</h2>
                    <h5 class="pt-3">Where magic lives and healing begins.</h5>
                    <p>Bookings are essential.
                </div>
            </div>
            <div class="row row-cols-lg-2 row-cols-1 learts-mb-n40">
                <!-- start healers -->
                <div class=" border-bottom learts-pb-40  col-lg-12 col-md-12 col-sm-6 col-12 learts-mb-40">
                    <div class="blog">
                        <div class="row learts-mb-n30">
                            <div class="col-md-4 col-12 learts-mb-30">
                                <div class="image mb-0">
                                    <img id="bannerImage-387920756793"
                                            class="lazyautosizes ls-is-cached lazyloaded"
                                            data-src="/img/people/katrina.jpg"
                                            data-sizes="auto" alt="Katrina - energy healer"
                                            src="/img/people/katrina.jpg">
                                </div>
                            </div>
                            <div class="col-md-8 col-12 align-self-center learts-mb-30">
                                <div class="content">
                                    <h5 class="title">Katrina - Energy Practitioner</h5>
                                    <div class="desc">
                                        <p>Katrina Nockolds is available for intuitive healing sessions on Mondays and Fridays by appointment only.</p>
                                        <p>Katrina offers holistic, intuitive healing for children, teens, parents and the adult inner child.</p>
                                        <p>Katrina is a qualified teacher, Reiki, Pellowah &amp; Seichim Practitioner, and a Children’s Wellbeing Practitioner.</p>
                                        <p>Consultations / healing sessions are tailored to suit the age &amp; needs of the individual but generally include a combination of chakra balancing, movement and vibrational energy healing.</p>
                                        <p>For more information, or to make a booking, please phone Katrina on 0435187259.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" border-bottom learts-pb-40  col-lg-12 col-md-12 col-sm-6 col-12 learts-mb-40">
                    <div class="blog">
                        <div class="row learts-mb-n30">
                            <div class="col-md-4 col-12 learts-mb-30">
                                <div class="image mb-0">
                                    <img id="bannerImage-387920756793"
                                            class="lazyautosizes ls-is-cached lazyloaded"
                                            data-src="/img/people/denise.jpg"
                                            data-sizes="auto" alt="Denise - Crystal Bed Healings"
                                            src="/img/people/denise.jpg">
                                </div>
                            </div>
                            <div class="col-md-8 col-12 align-self-center learts-mb-30">
                                <div class="content">
                                    <h5 class="title">Denise - Foot Reflexology</h5>
                                    <div class="desc">
                                        <p>$50 approx 30 minutes (Duration varies)</p>
                                        <p>Foot reflexology is a holistic healing practice that involves applying pressure and massage to specific points on the feet.  It is based on the concept that these pressure points are connected to various organs and systems within the body and that by stimulating these points we can trigger the body's natural healing processes.</p>
                                        <p>Reflexology can promote relaxation, improve circulation, improve sleep quality, boost immune function and improve overall energy levels.</p>
                                        <p>Denise currently offers Foot Reflexology treatments  in our healing space on Wednesday afternoons by appointment</p>
                                        <p>Please contact us on 85232460 to book a session.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" border-bottom learts-pb-40  col-lg-12 col-md-12 col-sm-6 col-12 learts-mb-40">
                    <div class="blog">
                        <div class="row learts-mb-n30">
                            <div class="col-md-4 col-12 learts-mb-30">
                                <div class="image mb-0">
                                    <img id="bannerImage-387920756793"
                                            class="lazyautosizes ls-is-cached lazyloaded"
                                            data-src="/img/people/matthew.webp"
                                            data-sizes="auto" alt="Denise - Crystal Bed Healings"
                                            src="/img/people/matthew.webp">
                                </div>
                            </div>
                            <div class="col-md-8 col-12 align-self-center learts-mb-30">
                                <div class="content">
                                    <h5 class="title">Matthew - Shaman</h5>
                                    <div class="desc">
                                        <p>Matthew Greenwood has been a practitioner involved with counselling, personal and psychic spiritual development and balancing energy since 1990.</p>
                                        <p>In his workshops and counselling, he teaches awareness of energy games that people play and sub-personalities that control the ego in order to break the control that the ego has on our everyday lives. This helps people to feel freedom and a greater sense of connection with their potential.</p>
                                        <p>As well as being able to see spiritual guides who are here for our highest growth, Matthew also has the ability to see negative entities that sometimes link in with fears and anxieties within us, hampering our growth. Not only does he help to clear those negative energies, but he teaches practitioners and those who are interested how to do the same.</p>
                                        <p>Please contact <a href="https://tidycal.com/shamangreywolf" target="_blank">Matthew</a> to book a session.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end healers -->
            </div>
        </div>
    </div>
</Layout>