---
import LayoutHome from '../layouts/LayoutHome.astro';
import Card from '../components/Card.astro';
import Hours from '../components/Hours.astro';
import bg from '../img/bg.jpg';
---

<LayoutHome title="Welcome to Spellbound.">
	<section class="auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall"
  data-options="{direction: 'reverse';, settings_mode_oneelement_max_offset: &quot;150&quot;}" style="">
  <!-- <div class="divimage w-100 g-bg-pos-bottom-center"
    style="height: 120%; background-image: url('img/gemstones.jpg'); transform: translate3d(0px, -74.489px, 0px);">
  </div> -->

  <div class="container g-py-150 ">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="g-color-white g-font-weight-300 g-font-size-40 g-line-height-1_2 mb-4">Have an easy
          <br>
          website with Unify
        </h3>
        <span class="d-block g-color-white-opacity-0_8 g-font-size-16 mb-5">Build, share, sell and enjoy.</span>

      </div>
    </div>
  </div>
</section>

<section>

  <div class="container">
    <div class="text-center g-my-50 u-heading-v3-1 g-mb-40">
      <h2 class="text-uppercase h2 u-heading-v3__title g-brd-primary">Best Sellers
      </h2>
    </div>

    <div class="row">
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <figure class="best-seller">
          <img class="w-100" src="img/products/PURE-ESSENTIAL-OILS.jpg" alt="Image Description">
          <div class="text-center g-bg-white g-pa-25">
            <div class="g-mb-15">
              <h4 class="h5 g-color-black g-mb-5">Essential Oils</h4>
              <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Aromatherapy</em>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <figure class="best-seller">
          <img class="w-100 h-100" src="img/products/PURE-ESSENTIAL-OILS.jpg" alt="Image Description">
          <div class="text-center g-bg-white g-pa-25">
            <div class="g-mb-15">
              <h4 class="h5 g-color-black g-mb-5">Essential Oils</h4>
              <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Aromatherapy</em>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <figure class="best-seller">
          <img class="w-100 h-100" src="img/products/PURE-ESSENTIAL-OILS.jpg" alt="Image Description">
          <div class="text-center g-bg-white g-pa-25">
            <div class="g-mb-15">
              <h4 class="h5 g-color-black g-mb-5">Essential Oils</h4>
              <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Aromatherapy</em>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <figure class="best-seller">
          <img class="w-100 h-100" src="img/products/PURE-ESSENTIAL-OILS.jpg" alt="Image Description">
          <div class="text-center g-bg-white g-pa-25">
            <div class="g-mb-15">
              <h4 class="h5 g-color-black g-mb-5">Essential Oils</h4>
              <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Aromatherapy</em>
            </div>
          </div>
        </figure>
      </div>





    </div>

  </div>
</section>

<Hours />
<!-- <section class="g-bg-primary g-color-white g-py-50 g-pa-30">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="h4">Easter Trading Hours</h3>
        <p class="lead g-mb-20 g-mb-0--md">Friday - Closed</p>
        <p class="lead g-mb-20 g-mb-0--md">Saturday - Closed</p>
        <p class="lead g-mb-20 g-mb-0--md">Sunday - Closed</p>
        <p class="lead g-mb-20 g-mb-0--md">Monday - Closed</p>
      </div>
    </div>
  </div>
</section> -->


<style>
  .auto-init{

    background-image:url('public/img/bg.jpg');
    background: linear-gradient(180deg, #000 0%, #4d0f8a 100%);

  }

  .auto-init {
            background-image:
            linear-gradient(180deg, #000, #4d0f8a), url('public/img/bg.jpg');
            width: 100%;
            height: 280px;
            text-align: center;
              color: #fff;
        }

  .card {
    border-radius: 20px;
    overflow: hidden;
    border: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.image-card {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.image-card-1 {
    background-color: #18A4F7
}

.image-card-2 {
    background-color: #00D7D2
}

.image-card-3 {
    background-color: #FF75A0
}

.image-card img {
    height: 150px;
    width: 150px;
    object-fit: cover
}

.card-text {
    font-size: 13px
}

.card-body a {
    font-size: 12px
}

.about span {
    font-size: 12px
}
</style>


<section>
  <div class="container">
    <div class="row g-3 mt-5 mb-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-img-top image-card image-card-1"> <img src="/img/tarot.png" alt="..."> </div>
                <div class="card-body"> <span class="text-uppercase text-danger fw-bold fs-6">Tarot Readings</span>
                    <h6 class="card-title text-dark mt-2">What you wants to know about hubspot?</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p> <a href="#" class="text-dark">Read full story...</a>
                    <div class="mt-4 about d-flex justify-content-between align-items-center"> <span>Shallaugh</span> <span>On 12 Oct, 2020</span> </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-img-top image-card image-card-2"> <img src="/img/fairy.png" alt="..."> </div>
                <div class="card-body"> <span class="text-uppercase text-danger fw-bold fs-6">Fairy School</span>
                    <h6 class="card-title text-dark mt-2">What you wants to know about hubspot?</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p> <a href="#" class="text-dark">Read full story...</a>
                    <div class="mt-4 about d-flex justify-content-between align-items-center"> <span>Rhiannon</span> <span>On 12 Oct, 2020</span>  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-img-top image-card image-card-3"> <img src="https://i.imgur.com/pTkFtZq.png" alt="..."> </div>
                <div class="card-body"> <span class="text-uppercase text-danger fw-bold fs-6">Category</span>
                    <h6 class="card-title text-dark mt-2">What you wants to know about hubspot?</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p> <a href="#" class="text-dark">Read full story...</a>
                    <div class="mt-4 about d-flex justify-content-between align-items-center"> <span>By Prabhjot Singh</span> <span>On 12 Oct, 2020</span> <span>5 min read</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


</LayoutHome>

