---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About SPellbound Magical Gifts">

    <div id="section-template--14120370864185__162980389531f0c3b7" class="section section-padding  section-normal ">
        <div class="container">

            <div class="section-title2 row justify-content-between align-items-center">
                <div class="col-md-auto col-12">
                    <h2 class="title title-icon-right">Tarot Readings</h2>
                    <p>All readings are for a duration of 30 minutes and cost $50.
                    <p>Bookings are essential.
                </div>
            </div>

            <div class="row row-cols-lg-2 row-cols-1 learts-mb-n40">

                <div class=" border-bottom learts-pb-40  col-lg-12 col-md-12 col-sm-6 col-12 learts-mb-40">
                    <div class="blog">
                        <div class="row learts-mb-n30">
                            <div class="col-md-4 col-12 learts-mb-30">
                                <div class="image mb-0">
                                    <img id="bannerImage-387920756793"
                                            class="lazyautosizes ls-is-cached lazyloaded"
                                            data-src="/img/people/jenny.jpg"
                                            data-sizes="auto" alt="Jenny - tarot reader"
                                            src="/img/people/jenny.jpg">
                                </div>
                            </div>
                            <div class="col-md-8 col-12 align-self-center learts-mb-30">
                                <div class="content">
                                    <h5 class="title">Jenny</h5>
                                    <div class="desc">
                                        <p>Jenny is a psychic tarot reader, healer and teacher with many years of experience.

                                            Jenny is available for readings on Monday afternoons and Tuesday mornings.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" border-bottom learts-pb-40  col-lg-12 col-md-12 col-sm-6 col-12 learts-mb-40">
                    <div class="blog">
                        <div class="row learts-mb-n30">
                            <div class="col-md-4 col-12 learts-mb-30">
                                <div class="image mb-0">
                                    <img id="bannerImage-387920756793"
                                            class="lazyautosizes ls-is-cached lazyloaded"
                                            data-src="/img/people/shallagh.jpg"
                                            data-sizes="auto" alt="Shallagh - tarot reader"
                                            src="/img/people/shallagh.jpg">
                                </div>
                            </div>
                            <div class="col-md-8 col-12 align-self-center learts-mb-30">
                                <div class="content">
                                    <h5 class="title">Shallagh</h5>
                                    <div class="desc">
                                        <p>Shallagh is a psychic medium, teacher and Reiki Master.
                                            Shallagh is available for readings on Wednesday mornings and Thursday afternoons.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</Layout>