---
import Breadcrumb from "../../components/Breadcrumb.astro";
import Layout from "../../layouts/Layout.astro";

const readers = await Astro.glob('../../content/readers/*.md');
const allReaders = readers.map(n => ({
  name: n.frontmatter.name,
  image: n.frontmatter.image.src,
  alt: n.frontmatter.image.alt,
  Content: n.Content
}));
---

<Layout title="Our tarot readers">
    <Breadcrumb pagename="Tarot Readings" />
    {allReaders.map(({ name,image,alt, Content }) => (
        <section class="container g-pt-100 g-pb-40" aria-label="Readers">
            <article class="row flex-md-row align-items-center text-center">
              <div class="col-lg-7 g-mb-50">
                <h3 class="h1 g-color-black g-font-weight-700 text-uppercase g-line-height-1_2 g-mb-35">{name}</h3>
                <div class="g-px-70--md g-mb-20">
                  <Content />
                </div>
              </div>
              <div class="col-lg-5 g-mb-50">
                <img class="img-fluid w-100" src={image} alt={alt}>
              </div>
            </article>
        </section>
    ))}
</Layout>