<section class="section-padding">

  <div class="container">
    <div class="text-center my-3 u-heading-v3-1 g-mb-40">
      <h2 class="text-uppercase h2 u-heading-v3__title g-brd-primary">Best Sellers
      </h2>
    </div>

    <div class="row">

      <div class="col-md-3 col-sm-2 learts-mb-40">
          <div class="category-banner4">
              <a href="/products/gumleaf-essential-oils" class="inner">
                  <div class="image">
                    <img class=" ls-is-cached lazyloaded" src="img/products/pure-essential-oils.jpg" alt="">
                  </div>
                  <div class="content">
                      <h3 class="title">
                        Essential Oils
                      </h3>
                  </div>
              </a>
          </div>
      </div>


    <div class="col-md-3 col-sm-2 learts-mb-40">
        <div class="category-banner4">
            <a href="/products/white-sage" class="inner">
                <div class="image">
                  <img class=" ls-is-cached lazyloaded" src="img/products/sage-bowl.jpg" alt="">
                </div>
                <div class="content">
                    <h3 class="title">
                      White Sage
                    </h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-sm-2 learts-mb-40">
        <div class="category-banner4">
            <a href="/products/rider-standard-edition" class="inner">
                <div class="image">
                  <img class=" ls-is-cached lazyloaded" src="img/products/standardriderwaitecanva.webp" alt="">
                </div>
                <div class="content">
                    <h3 class="title">
                      Rider Tarot
                    </h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-sm-2 learts-mb-40">
        <div class="category-banner4">
            <a href="/products/nag-incense-stick" class="inner">
                <div class="image">
                  <img class=" ls-is-cached lazyloaded" src="img/products/nag-sticks.jpg" alt="">
                </div>
                <div class="content">
                    <h3 class="title">
                      Nag Incense
                    </h3>
                </div>
            </a>
        </div>
    </div>



  </div>
</section>

<style>
    .category-banner4 .inner .image::before {border: 1px solid #ffffff;}
    .category-banner4 .inner .content .title {color: #ffffff;}
    .category-banner4 .inner .content {background-color: #8C8A93 !important;}
  </style>