<section class="section-padding">

  <div class="container">

    <div class="text-center my-3 u-heading-v3-1 g-mb-40">
      <h2 class="text-uppercase h2 u-heading-v3__title g-brd-primary">Best Sellers
      </h2>
    </div>

    <div class="row">

      <div class="col-6 col-sm-6 col-lg-3 col-md-6 col-sm-6 mb-45grid-item col">
        <div class="product single-product">
            <div class="product-thumb single-product__image">
                <a class="image image-wrap" href="/products/gumleaf-essential-oils">
                    <img class="responsive-image__image popup_cart_image" src="img/products/pure-essential-oils.jpg" alt="Essential Oils">
                    <noscript>
                        <img class="popup_cart_image" src="img/products/pure-essential-oils.jpg" alt="Essential Oils">
                    </noscript>
                    <style>
                        #Image-18598732333113-0 {max-width: 600.0px;max-height: 800px;}
                    </style>
                    <img class="responsive-image__image popup_cart_image secondary__img" src="img/products/fragrant.webp" alt="Essential Oils" >
                    <noscript>
                        <img class="popup_cart_image secondary__img" src="img/products/fragrant.webp" alt="Essential Oils" >
                    </noscript>
                </a>
            </div>
            <div class="product-info single-product__content text-center">
                <h6 class="title popup_cart_title">
                    <a href="/collections/all/products/grey-tool">Essential Oils</a>
                </h6>
            </div>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-lg-3 col-md-6 col-sm-6 mb-45grid-item col">
        <div class="product single-product">
            <div class="product-thumb single-product__image">
                <a class="image image-wrap" href="/products/white-sage">
                    <img class="responsive-image__image popup_cart_image" src="img/products/sage-bowl.jpg" alt="White Sage">
                    <noscript>
                        <img class="popup_cart_image" src="img/products/sage-bowl.jpg" alt="White Sage">
                    </noscript>
                    <style>
                        #Image-18598732333113-0 {max-width: 600.0px;max-height: 800px;}
                    </style>
                    <img class="responsive-image__image popup_cart_image secondary__img" src="/img/products/whitesage.webp" alt="White Sage" >
                    <noscript>
                        <img class="popup_cart_image secondary__img" src="/img/products/whitesage.webp" alt="White Sage" >
                    </noscript>
                </a>
            </div>
            <div class="product-info single-product__content text-center">
                <h6 class="title popup_cart_title">
                    <a href="/collections/all/products/grey-tool">White Sage</a>
                </h6>
            </div>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-lg-3 col-md-6 col-sm-6 mb-45grid-item col">
        <div class="product single-product">
            <div class="product-thumb single-product__image">
                <a class="image image-wrap" href="/products/rider-standard-edition">
                    <img class="responsive-image__image popup_cart_image" src="/img/products/standardriderwaitecanva.webp" alt="Rider Tarot">
                    <noscript>
                        <img class="popup_cart_image" src="/img/products/standardriderwaitecanva.webp" alt="Rider Tarot">
                    </noscript>
                    <style>
                        #Image-18598732333113-0 {max-width: 600.0px;max-height: 800px;}
                    </style>
                    <img class="responsive-image__image popup_cart_image secondary__img" src="/img/products/rider_tarot.jpg" alt="Rider Tarot" >
                    <noscript>
                        <img class="popup_cart_image secondary__img" src="/img/products/rider_tarot.jpg" alt="Rider Tarot" >
                    </noscript>
                </a>
            </div>
            <div class="product-info single-product__content text-center">
                <h6 class="title popup_cart_title">
                    <a href="/collections/all/products/grey-tool">Rider Tarot</a>
                </h6>
            </div>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-lg-3 col-md-6 col-sm-6 mb-45grid-item col">
        <div class="product single-product">
            <div class="product-thumb single-product__image">
                <a class="image image-wrap" href="/products/nag-incense-stick">
                    <img class="responsive-image__image popup_cart_image" src="/img/products/nag-sticks.jpg" alt="Nag Incense">
                    <noscript>
                        <img class="popup_cart_image" src="/img/products/nag-sticks.jpg" alt="Nag Incense">
                    </noscript>
                    <style>
                        #Image-18598732333113-0 {max-width: 600.0px;max-height: 800px;}
                    </style>
                    <img class="responsive-image__image popup_cart_image secondary__img" src="/img/products/nag.webp" alt="Nag Incense" >
                    <noscript>
                        <img class="popup_cart_image secondary__img" src="/img/products/nag.webp" alt="Nag Incense" >
                    </noscript>
                </a>
            </div>
            <div class="product-info single-product__content text-center">
                <h6 class="title popup_cart_title">
                    <a href="/collections/all/products/grey-tool">Nag Incense</a>
                </h6>
            </div>
        </div>
      </div>

  </div>
</section>

<style>
    .category-banner4 .inner .image::before {border: 1px solid #ffffff;}
    .category-banner4 .inner .content .title {color: #ffffff;}
    .category-banner4 .inner .content {background-color: #8C8A93 !important;}
    .product-info:not(:first-child) {margin-top:0}
    .product-info .title {padding:0.4em;background-color: #8C8A93;margin: -25px auto 0;max-width:80%}
    .product-info .title a {color: #fff;}
    .product-info .title a:hover {color: #fff;}
  </style>