<div class="home12-slider section" id="section-template--14123306942521__16311689098a04aede">
    <div class="home12-slide-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="home12-slide-content">
                        <div class="slider-top-content">

                            <h2>THIS HALLOWEEN</h2>

                            <img class=" ls-is-cached lazyloaded"
                                src="/img/halloween.png" style="width:100px"
                                alt="">
                        </div>
                        <div class="slider-bottom-content">

                            <h2 class="small"><img class="left-icon ls-is-cached lazyloaded"
                                    src="//learts-demo.myshopify.com/cdn/shop/files/hp16-img-02_91x19.png?v=1621767217"
                                    alt="">Find the
                                <img class="right-icon ls-is-cached lazyloaded"
                                    src="//learts-demo.myshopify.com/cdn/shop/files/hp16-img-03_91x19.png?v=1621767234"
                                    alt="">
                            </h2>


                            <h2 class="my-5">PERFECT GIFT</h2>

                        </div>

                        <a href="/category">Shop now</a>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="slider-12-thumb"><img class=" ls-is-cached lazyloaded"
                            src="/img/tmp/Jack-O-Lantern-Halloween-candle-front__75625.png"
                            alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

#section-template--14123306942521__16311689098a04aede {
    background: #f7e0c7 no-repeat scroll center center / cover;
    padding-top: 100px !important;
}
</style>

