<div id="shopify-section-header" class="shopify-section">
            <div id="section-header" class="main_header_area" data-section="headerscript">
                <!-- Topbar Section Start -->
                <div class="topbar-section section bg-primary2  section-normal ">
                    <div class="container">
                        &nbsp;
                    </div>
                </div>
                <!-- Topbar Section End -->


                <!-- Header Section Start -->
                <div class="header-section section bg-white d-none d-xl-block  section-normal ">
                    <div class="container">
                        <div class="row row-cols-lg-3 align-items-center">
                            <!-- Header Language & Currency Start -->
                            <div class="col">

                            </div>
                            <!-- Header Language & Currency End -->
                            <!-- Header Logo Start -->
                            <div class="col">
                                <div class="header-logo justify-content-center">
                                    <a href="/" class="theme-logo">
                                        <img class=" ls-is-cached lazyloaded"
                                            src="/img/logo-new.png"
                                            alt="Learts Demo"
                                            srcset="/img/logo-new.png"
                                            style="height:80px">
                                    </a>
                                </div>
                            </div>
                            <!-- Header Logo End -->

                            <!-- Header Tools Start -->

                            <div class="col">
                                <div class="header-tools justify-content-end">



                                </div>
                            </div>

                            <!-- Header Tools End -->
                        </div>
                    </div>
                    <!-- Site Menu Section Start -->
                    <div class="site-menu-section section">
                        <div class="container">
                            <nav class="site-main-menu justify-content-center">
                                <ul id="”navigation-main”">
                                    <li class="has-children active"><a href="/">
                                            <span class="menu-text">Home </span></a>

                                    </li>
                                    <li class="has-children"><a href="/category">
                                            <span class="menu-text">Shop <svg xmlns="http://www.w3.org/2000/svg"
                                                    width="20" height="20" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg></span></a>

            <!--
                                        <ul class="sub-menu mega-menu">
                                            <li class="mega_dropdown">
                                                <a href="/category/aromatherapy" class="mega-menu-title"><span class="menu-text">AROMATHERAPY</span></a>
                                                <ul>

                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Essential Oils</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120298668089"><span
                                                                class="menu-text">Perfumed Oils</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120297750585"><span
                                                                class="menu-text">Fragrent Oils</span></a></li>

                                                </ul>
                                            </li>
                                            <li class="mega_dropdown">
                                                <a href="/category/herbs" class="mega-menu-title"><span class="menu-text">HERBS</span></a>
                                                <ul>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/5-simple-product/?preview_theme_id=120284414009"><span
                                                                class="menu-text">White Sage</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/copy-of-3d-attractive-pot/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Magical Herbs</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/11-product-with-video/?preview_theme_id=120297750585"><span
                                                                class="menu-text">Charcoal</span></a></li>

                                                </ul>
                                            </li>
                                            <li class="mega_dropdown">
                                                <a href="#" class="mega-menu-title"><span class="menu-text">PRODUCT
                                                        &amp; Other PAGES</span></a>
                                                <ul>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/5-simple-product/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Product with Background</span></a>
                                                    </li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/cart/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Shopping Cart</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/27249377337/checkouts/50f8c715af97471559bc947ddd1886f7/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Checkout</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/pages/wishlist/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Wishlist</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/account/login/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Customer Login</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/account/?preview_theme_id=120284414009"><span
                                                                class="menu-text">My Account</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/account/login#recover/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Lost Password</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="mega_dropdown mega_gallery">
                                                <div class="mega_menu_cat_banner"
                                                    id="block-40f0967f-863c-4c95-97c8-8934f9862543">
                                                    <a href="/" class="menu-banner">
                                                        <img src="//learts-demo.myshopify.com/cdn/shop/files/menu-banner-2.png?v=1613704004 "
                                                            class="img-fluid ls-is-cached lazyloaded" alt="">
                                                        <div class="mega_banner_content">
                                                            <div class="title1">Sale</div>
                                                            <div class="title2">50%</div>
                                                            <div class="content">Lorem Ipsum Dolor</div>
                                                            <p class="banner__btn">sho9 now!</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
            -->


                                    </li>
                                    <li class="has-children">
                                        <a href="/readings">
                                            <span class="menu-text">Tarot Readings </span>
                                        </a>
                                    </li>
                                    <li class="has-children">
                                        <a href="/healings">
                                            <span class="menu-text">Healings </span>
                                        </a>
                                    </li>
                                    <li class="has-children">
                                        <a href="/contact">
                                            <span class="menu-text">Contact </span>
                                        </a>
                                    </li>
                                </ul>

                            </nav>
                        </div>
                    </div><!-- Site Menu Section End -->
                </div>
                <!-- Header Section End -->



                <!-- Header Sticky Section Start -->
                <!-- Header Sticky Section End -->

                <!-- Mobile Header Section Start -->
                <div class="mobile-header bg-white section d-xl-none">
                    <div class=" container ">
                        <div class="row align-items-center">

                            <!-- Header Logo Start -->
                            <div class="col">
                                <div class="header-logo">
                                    <a href="/" class="theme-logo" style="font-family:Marcellus;font-size:20px;font-weight:bold;">
                                        Spellbound Magical Gifts
                                    </a>
                                </div>
                            </div>
                            <!-- Header Logo End -->

                            <!-- Header Tools Start -->

                            <div class="col-auto">
                                <div class="header-tools justify-content-end">

                                    <div class="header-login d-none d-sm-block">

                                        <a href="/account/login"><!--?xml version="1.0" ?--><svg fill="none"
                                                viewBox="0 0 24 24" stroke-width="1.0"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g id="User">
                                                    <path clip-rule="evenodd"
                                                        d="M0.25 20C0.25 16.2721 3.27208 13.25 7 13.25H17C20.7279 13.25 23.75 16.2721 23.75 20V22C23.75 22.9665 22.9665 23.75 22 23.75H2C1.0335 23.75 0.25 22.9665 0.25 22V20ZM7 14.75C4.10051 14.75 1.75 17.1005 1.75 20V22C1.75 22.1381 1.86193 22.25 2 22.25H22C22.1381 22.25 22.25 22.1381 22.25 22V20C22.25 17.1005 19.8995 14.75 17 14.75H7Z"
                                                        fill="currentColor" fill-rule="evenodd"
                                                        id="Rectangle 39 (Stroke)"></path>
                                                    <path clip-rule="evenodd"
                                                        d="M11.5 1.75C8.87665 1.75 6.75 3.87665 6.75 6.5C6.75 9.12335 8.87665 11.25 11.5 11.25C14.1234 11.25 16.25 9.12335 16.25 6.5C16.25 3.87665 14.1234 1.75 11.5 1.75ZM5.25 6.5C5.25 3.04822 8.04822 0.25 11.5 0.25C14.9518 0.25 17.75 3.04822 17.75 6.5C17.75 9.95178 14.9518 12.75 11.5 12.75C8.04822 12.75 5.25 9.95178 5.25 6.5Z"
                                                        fill="currentColor" fill-rule="evenodd"
                                                        id="Ellipse 21 (Stroke)"></path>
                                                </g>
                                            </svg></a>

                                    </div>


                                    <div class="header-search d-none d-sm-block">
                                        <a href="#offcanvas-search" class="offcanvas-toggle"><svg
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.2" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z">
                                                </path>
                                            </svg></a>
                                    </div>


                                    <div class="header-wishlist d-none d-sm-block">
                                        <a href="/pages/wishlist" class="offcanvas-toggle"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-heart">
                                                <path
                                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                                </path>
                                            </svg></a>
                                    </div>


                                    <div class="header-cart">

                                    </div>

                                    <div class="mobile-menu-toggle">
                                        <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                                            <i></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Header Tools End -->
                        </div>
                    </div>
                </div>
                <!-- Mobile Header Section End -->

                <!-- Mobile Header Section Start -->
                <div class="mobile-header sticky-header bg-white section d-xl-none">
                    <div class=" container ">
                        <div class="row align-items-center">
                            <!-- Header Logo Start -->
                            <div class="col">
                                <div class="header-logo">
                                    <a href="/" class="theme-logo">
                                        <img class="lazyload"
                                            src="//learts-demo.myshopify.com/cdn/shop/files/logo-2_225x.png?v=1613704039"
                                            alt="Learts Demo"
                                            srcset="//learts-demo.myshopify.com/cdn/shop/files/logo-2_225x.png?v=1613704039 1x, //learts-demo.myshopify.com/cdn/shop/files/logo-2_225x@2x.png?v=1613704039 2x">
                                    </a>
                                </div>
                            </div>
                            <!-- Header Logo End -->
                            <!-- Header Tools Start -->

                            <div class="col-auto">
                                <div class="header-tools justify-content-end">

                                    <div class="header-login d-none d-sm-block">

                                        <a href="/account/login"><!--?xml version="1.0" ?--><svg fill="none"
                                                viewBox="0 0 24 24" stroke-width="1.0"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g id="User">
                                                    <path clip-rule="evenodd"
                                                        d="M0.25 20C0.25 16.2721 3.27208 13.25 7 13.25H17C20.7279 13.25 23.75 16.2721 23.75 20V22C23.75 22.9665 22.9665 23.75 22 23.75H2C1.0335 23.75 0.25 22.9665 0.25 22V20ZM7 14.75C4.10051 14.75 1.75 17.1005 1.75 20V22C1.75 22.1381 1.86193 22.25 2 22.25H22C22.1381 22.25 22.25 22.1381 22.25 22V20C22.25 17.1005 19.8995 14.75 17 14.75H7Z"
                                                        fill="currentColor" fill-rule="evenodd"
                                                        id="Rectangle 39 (Stroke)"></path>
                                                    <path clip-rule="evenodd"
                                                        d="M11.5 1.75C8.87665 1.75 6.75 3.87665 6.75 6.5C6.75 9.12335 8.87665 11.25 11.5 11.25C14.1234 11.25 16.25 9.12335 16.25 6.5C16.25 3.87665 14.1234 1.75 11.5 1.75ZM5.25 6.5C5.25 3.04822 8.04822 0.25 11.5 0.25C14.9518 0.25 17.75 3.04822 17.75 6.5C17.75 9.95178 14.9518 12.75 11.5 12.75C8.04822 12.75 5.25 9.95178 5.25 6.5Z"
                                                        fill="currentColor" fill-rule="evenodd"
                                                        id="Ellipse 21 (Stroke)"></path>
                                                </g>
                                            </svg></a>

                                    </div>


                                    <div class="header-search d-none d-sm-block">
                                        <a href="#offcanvas-search" class="offcanvas-toggle"><svg
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.2" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z">
                                                </path>
                                            </svg></a>
                                    </div>


                                    <div class="header-wishlist d-none d-sm-block">
                                        <a href="/pages/wishlist" class="offcanvas-toggle"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-heart">
                                                <path
                                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                                </path>
                                            </svg></a>
                                    </div>


                                    <div class="header-cart">
                                        <a href="#offcanvas-cart" class="offcanvas-toggle"><span
                                                class="cart-count bigcounter">0</span><svg
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.2" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z">
                                                </path>
                                            </svg></a>
                                    </div>

                                    <div class="mobile-menu-toggle">
                                        <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                                            <i></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Header Tools End -->
                        </div>
                    </div>
                </div>
                <!-- Mobile Header Section End -->













                <!-- OffCanvas Search End -->



                <!-- OffCanvas Search Start -->
                <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
                    <div class="inner customScroll ps ps--theme_default"
                        data-ps-id="96511f36-5446-75a2-f6c0-0b2975d9c4be">



                        <div class="offcanvas-menu">
                            <ul>
                                <li class="menu-item-has-children">
                                    <a href="/">
                                        <span class="menu-text">Home</span>
                                    </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <span class="menu-expand"></span>
                                    <a href="/category">
                                        <span class="menu-text">Shop</span>
                                    </a>
                                    <ul class="sub-menu" style="">
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">Aromatherapy</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120297750585">Incense</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120284414009">Oils</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120298668089">Shop
                                                        Right Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120306008121">Shop
                                                        Fullwidth No Space</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120308334649">Shop
                                                        Fullwidth No Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120317706297">Shop
                                                        Fullwidth Left Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120318394425">Shop
                                                        Fullwidth Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">PRODUCT PAGES</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/5-simple-product/?preview_theme_id=120284414009">Basic</a>
                                                </li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/copy-of-3d-attractive-pot/?preview_theme_id=120284414009">Product
                                                        3D</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/11-product-with-video/?preview_theme_id=120297750585">Fullwidth</a>
                                                </li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/9-without-shortcode-product/?preview_theme_id=120298668089">Sticky
                                                        Details</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/product-title-here-2/?preview_theme_id=120306008121">Extra
                                                        Content</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/product-dummy-title/?preview_theme_id=120284414009">Variations
                                                        Images</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/11-product-with-video/?preview_theme_id=120284414009">Product
                                                        Video</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/grey-tool/?preview_theme_id=120284414009">Countdown
                                                        Product</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">PRODUCT &amp; Other PAGES</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/5-simple-product/?preview_theme_id=120284414009">Product
                                                        with Background</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/cart/?preview_theme_id=120284414009">Shopping
                                                        Cart</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/27249377337/checkouts/50f8c715af97471559bc947ddd1886f7/?preview_theme_id=120284414009">Checkout</a>
                                                </li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/pages/wishlist/?preview_theme_id=120284414009">Wishlist</a>
                                                </li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/account/login/?preview_theme_id=120284414009">Customer
                                                        Login</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/account/?preview_theme_id=120284414009">My
                                                        Account</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/account/login#recover/?preview_theme_id=120284414009">Lost
                                                        Password</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="/readings"><span
                                            class="menu-text">Tarot Readings</span></a>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="/healings">
                                        <span class="menu-text">Healings</span>
                                    </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="/contact">
                                        <span class="menu-text">Contact</span>
                                    </a>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>

                <div class="offcanvas-overlay"></div>
                <!-- OffCanvas Search End -->
            </div>
        </div>