<section class="g-bg-gradient g-color-white g-py-50 g-pa-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="h4">Christmas Trading Hours</h3>
          <p class="lead g-mb-20 g-mb-0--md">Saturday 23rd 9:30 - 5:00</p>
          <p class="lead g-mb-20 g-mb-0--md">Sunday 24th - Closed</p>
          <p class="lead g-mb-20 g-mb-0--md">Monday 25th - Closed</p>
          <p class="lead g-mb-20 g-mb-0--md">Tuesday 26th - Closed</p>
        </div>
      </div>
    </div>
  </section>

  <style>
    .g-bg-gradient{
      background: linear-gradient(180deg,#000 0%,#4d0f8a 100%);
    }
  </style>