<section class="g-bg-gradient learts-pb-50 learts-pt-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center text-white">
          <blockquote class="learts-blockquote2">
            <div class="icon">
              <i class="fas fa-quote-left"></i>
            </div>
            <h3 class="title text-white">Step into Spellbound Magical Gifts — a sanctuary for the soul, where healing begins and magic lives in every corner.</h3>
          </blockquote>
        </div>
      </div>
    </div>
  </section>

  <style>
    .g-bg-gradient{
      /* background: linear-gradient(180deg,var(--bg-bar) 0%,var(--heading) 100%); */
      background-color: var(--heading);
      /* opacity: 0.5 ; */
    }
    .white{color:var(--bg=colour);font-weight:200}
  </style>