<section class="g-bg-gradient learts-pb-50 learts-pt-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center text-white">
          <blockquote class="learts-blockquote2">
            <h3 class="title text-dark" style="font-style:normal;font-weight:300">Step into Spellbound Magical Gifts — a sanctuary for the soul, where healing begins and magic lives in every corner.</h3>
          </blockquote>
        </div>
      </div>
    </div>
  </section>

  <style>
    .g-bg-gradient{
      background-color: var(--bg-bar);
    }
    .white{color:var(--bg=colour);font-weight:200}
  </style>