<section class="g-bg-primary g-color-white g-py-50 g-pa-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="h4">Easter Trading Hours</h3>
          <p class="lead g-mb-20 g-mb-0--md">Friday - Closed</p>
          <p class="lead g-mb-20 g-mb-0--md">Saturday - Closed</p>
          <p class="lead g-mb-20 g-mb-0--md">Sunday - Closed</p>
          <p class="lead g-mb-20 g-mb-0--md">Monday - Closed</p>
        </div>
      </div>
    </div>
  </section>