<section class="g-bg-gradient learts-pb-50 learts-pt-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center text-white">
          <h2 class="h2 learts-mb-30">Christmas Trading Hours</h2>
          <p class="text-dark">Saturday 21st 9:30 - 5:00</p>
          <p class="text-dark">Sunday 22nd 10:00 - 2:00</p>
          <p class="text-dark">Monday 23rd 9:30 - 5:00</p>
          <p class="text-dark">Tuesday 24th 9:30 - 5:00</p>
        </div>
      </div>
    </div>
  </section>

  <style>
    .g-bg-gradient{
      /* background: linear-gradient(180deg,var(--bg-bar) 0%,var(--heading) 100%); */
      background-color: var(--bg-bar);
      /* opacity: 0.5 ; */
    }
  </style>