<section class="g-bg-gradient learts-pb-50 learts-pt-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center text-white">
          <blockquote class="learts-blockquote2">
            <div class="icon">
              <img class=" ls-is-cached lazyloaded" src="//learts-demo.myshopify.com/cdn/shop/files/quote_1024x1024.png?v=1613706149" alt=""> 
            </div>
            <div class="content">Step into Spellbound Magical Gifts — a sanctuary for the soul, where healing begins and magic lives in every corner.</div>
          </blockquote>
        </div>
      </div>
    </div>
  </section>

  <style>
    .g-bg-gradient{
      /* background: linear-gradient(180deg,var(--bg-bar) 0%,var(--heading) 100%); */
      background-color: var(--heading);
      /* opacity: 0.5 ; */
    }
    .white{color:var(--bg=colour);font-weight:200}
  </style>