<section class="g-bg-gradient learts-pb-50 learts-pt-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center text-white">
          <p>Step into Spellbound Magical Gifts — a sanctuary for the soul, where healing begins and magic lives in every corner.
          </p>Explore our collection of crystals, herbs, books, candles, tarot, and spiritual tools — or join us for a reading, workshop, or meditation.

        </div>
      </div>
    </div>
  </section>

  <style>
    .g-bg-gradient{
      /* background: linear-gradient(180deg,var(--bg-bar) 0%,var(--heading) 100%); */
      background-color: var(--bg-bar);
      /* opacity: 0.5 ; */
    }
  </style>