<div class="home6-slider section pb-5" id="section-template--14120798945337__162997148808e53ba2">
  <div class="home6-slide-item" data-bg-image="/img/sliders/slider1.jpg" style="background-image: url('/img/sliders/slider1.jpg')">
    <div class="container">
      <div class="home6-slide1-content">
        <h3 class="sub-title">Add a Little Magic</h3>
        <h2 class="title">to Your Day</h2>
        <div class="link"><a href="/category" class="btn btn-light btn-hover-black">Shop now</a></div>
      </div>
    </div>
  </div>
</div>