<article id="post-1506" class="post-1506 page type-page status-publish hentry">
	<div class="entry-content">
		<div class="wpb-content-wrapper"><div class="vc_row wpb_row row"><div class="wpb_column vc_column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div style="font-size: 40px;color: #333333;line-height: 56px;text-align: center;font-family:Marcellus;font-weight:400;font-style:normal" class="vc_custom_heading vc_custom_1542697938395 title-learts">Testimonials multiple</div>
	<div class="wpb_text_column wpb_content_element vc_custom_1548649339002">
		<div class="wpb_wrapper">
			<p style="font-size: 18px; line-height: 32px; letter-spacing: 0.5px; color: #696969; text-align: center; font-weight: 300;">Listen to what existing &amp; loyal clients said about our services and product’s quality.</p>

		</div>
	</div>

<div class="tm-shortcode learts-space" id="learts-space-1"></div>
<div class="tm-shortcode learts-testimonial-carousel slick-initialized slick-slider" data-atts="{&quot;style_testimonial&quot;:&quot;multiple&quot;,&quot;item_count&quot;:&quot;-1&quot;,&quot;items_to_show&quot;:&quot;3&quot;,&quot;order&quot;:&quot;rand&quot;,&quot;category&quot;:&quot;&quot;,&quot;loop&quot;:&quot;yes&quot;,&quot;auto_play&quot;:&quot;yes&quot;,&quot;auto_play_speed&quot;:&quot;5&quot;,&quot;nav_type&quot;:&quot;arrows&quot;,&quot;animation&quot;:&quot;&quot;,&quot;el_class&quot;:&quot;&quot;,&quot;css&quot;:&quot;&quot;}"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>

                <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 8970px; transform: translate3d(-1950px, 0px, 0px);"><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">ThemeMove deserves 5 star for theme’s features, design quality, flexibility, customizability and support service!</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-80x80.png" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-80x80.png 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-50x50.png 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-70x70.png 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-100x100.png 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2.png 120w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Florence Polla                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Customer</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-100x100.jpg 100w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Susan Oliver                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-100x100.jpg 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18.jpg 270w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Julia Baro                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide" data-slick-index="0" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">There's nothing would satisfy me much more than a worry-free clean and responsive theme for my high-traffic site.</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1-80x80.png" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1-80x80.png 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1-50x50.png 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1-70x70.png 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1-100x100.png 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1.png 120w" sizes="(max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Anais Coulon                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Actor</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide" data-slick-index="1" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-100x100.jpg 100w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Eliza Gomes                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">Really good design/documentation, pretty much everything is nicely setup. The best choice for Woocommerce shop.</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3-80x80.png" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3-80x80.png 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3-50x50.png 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3-70x70.png 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3-100x100.png 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3.png 120w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Ian Schneider                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Actor</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">My little one is 3 months old and hasn't liked any of the wrap style carriers but loves to sleep upright on my chest. This has been perfect.</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-100x100.jpg 100w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Oliver Beddows                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Reporter, California</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">The hood is the same soft fabric as the carrier itself and is great for blocking light but keeping a good flow of air. My husband and I were so happy with the wrap we purchased for our little one on its way.</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-100x100.jpg 100w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Filip &amp; Adri                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Actor, California</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide" data-slick-index="5" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">Thanks for always keeping your WordPress themes up to date. Your level of support is second to none. </div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4-80x80.png" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4-80x80.png 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4-50x50.png 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4-70x70.png 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4-100x100.png 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4.png 120w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Sally Ramsey                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Reporter</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide" data-slick-index="6" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">I’ve used it on the same outing for both my 10 week old and my two year old who refused to use her buggy board. Really comfortable for both parent and child</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-100x100.jpg 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21.jpg 270w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Sue Saakyan                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide" data-slick-index="7" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">ThemeMove deserves 5 star for theme’s features, design quality, flexibility, customizability and support service!</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-80x80.png" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-80x80.png 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-50x50.png 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-70x70.png 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-100x100.png 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2.png 120w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Florence Polla                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Customer</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide" data-slick-index="8" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-100x100.jpg 100w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Susan Oliver                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide" data-slick-index="9" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-100x100.jpg 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18.jpg 270w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Julia Baro                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">There's nothing would satisfy me much more than a worry-free clean and responsive theme for my high-traffic site.</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1-80x80.png" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1-80x80.png 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1-50x50.png 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1-70x70.png 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1-100x100.png 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1.png 120w" sizes="(max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Anais Coulon                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Actor</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23-100x100.jpg 100w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Eliza Gomes                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="12" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">Really good design/documentation, pretty much everything is nicely setup. The best choice for Woocommerce shop.</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3-80x80.png" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3-80x80.png 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3-50x50.png 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3-70x70.png 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3-100x100.png 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3.png 120w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Ian Schneider                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Actor</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="13" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">My little one is 3 months old and hasn't liked any of the wrap style carriers but loves to sleep upright on my chest. This has been perfect.</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19-100x100.jpg 100w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Oliver Beddows                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Reporter, California</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="14" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">The hood is the same soft fabric as the carrier itself and is great for blocking light but keeping a good flow of air. My husband and I were so happy with the wrap we purchased for our little one on its way.</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20-100x100.jpg 100w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Filip &amp; Adri                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Actor, California</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="15" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">Thanks for always keeping your WordPress themes up to date. Your level of support is second to none. </div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4-80x80.png" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4-80x80.png 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4-50x50.png 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4-70x70.png 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4-100x100.png 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4.png 120w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Sally Ramsey                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Reporter</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="16" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">I’ve used it on the same outing for both my 10 week old and my two year old who refused to use her buggy board. Really comfortable for both parent and child</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21-100x100.jpg 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21.jpg 270w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Sue Saakyan                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="17" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">ThemeMove deserves 5 star for theme’s features, design quality, flexibility, customizability and support service!</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-80x80.png" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-80x80.png 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-50x50.png 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-70x70.png 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2-100x100.png 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2.png 120w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Florence Polla                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Customer</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="18" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22-100x100.jpg 100w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Susan Oliver                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                    </div>
            </div><div class="learts-testimonial-carousel__item multiple-testimonials slick-slide slick-cloned" data-slick-index="19" id="" aria-hidden="true" style="width: 390px;">

                <div class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</div>
                                    <div class="cite-image learts-testimonial-carousel__img"><img loading="lazy" decoding="async" width="80" height="80" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-80x80.jpg" class="attachment-learts-testimonial-cite-image size-learts-testimonial-cite-image" alt="" srcset="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-80x80.jpg 80w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-150x150.jpg 150w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-50x50.jpg 50w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-70x70.jpg 70w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18-100x100.jpg 100w, https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18.jpg 270w" sizes="auto, (max-width: 80px) 100vw, 80px"></div>

                <div class="box-cite">
                    <div class="learts-testimonial-carousel__cite">
                        Julia Baro                    </div>
                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                    </div>
            </div></div></div>





























                <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button></div>
</div></div></div></div><div class="vc_row wpb_row row"><div class="wpb_column vc_column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="tm-shortcode learts-space" id="learts-space-2"></div>
<div style="font-size: 40px;color: #333333;line-height: 56px;text-align: center;font-family:Marcellus;font-weight:400;font-style:normal" class="vc_custom_heading vc_custom_1542697953448 title-learts">Testimonials single</div>
	<div class="wpb_text_column wpb_content_element vc_custom_1548649348127">
		<div class="wpb_wrapper">
			<p style="font-size: 18px; line-height: 32px; letter-spacing: 0.5px; color: #696969; text-align: center; font-weight: 300;">Listen to what existing &amp; loyal clients said about our services and product’s quality.</p>

		</div>
	</div>
<div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div></div><div class="vc_row wpb_row row vc_custom_1542098005472 vc_row-has-fill vc_row-learts-wide row-calculated" style="position: relative; width: 1824px; left: -306.9px;"><div class="wpb_column vc_column_container col-sm-12"><div class="vc_column-inner vc_custom_1542095125495"><div class="wpb_wrapper">
<div class="tm-shortcode learts-space" id="learts-space-3"></div>
<div class="tm-shortcode learts-testimonial-carousel slick-initialized slick-slider" data-atts="{&quot;style_testimonial&quot;:&quot;single&quot;,&quot;item_count&quot;:&quot;-1&quot;,&quot;items_to_show&quot;:1,&quot;order&quot;:&quot;rand&quot;,&quot;category&quot;:&quot;&quot;,&quot;loop&quot;:&quot;yes&quot;,&quot;auto_play&quot;:&quot;yes&quot;,&quot;auto_play_speed&quot;:&quot;5&quot;,&quot;nav_type&quot;:&quot;arrows&quot;,&quot;animation&quot;:&quot;&quot;,&quot;el_class&quot;:&quot;&quot;,&quot;css&quot;:&quot;&quot;}"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>

                <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 37674px; transform: translate3d(-14352px, 0px, 0px); transition: transform 1000ms;"><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22.jpg" alt="Susan Oliver"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Susan Oliver                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide" data-slick-index="0" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">There's nothing would satisfy me much more than a worry-free clean and responsive theme for my high-traffic site.</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1.png" alt="Anais Coulon"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Anais Coulon                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Actor</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide" data-slick-index="1" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23.jpg" alt="Eliza Gomes"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Eliza Gomes                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide" data-slick-index="2" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">Really good design/documentation, pretty much everything is nicely setup. The best choice for Woocommerce shop.</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3.png" alt="Ian Schneider"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Ian Schneider                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Actor</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide" data-slick-index="3" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18.jpg" alt="Julia Baro"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Julia Baro                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide" data-slick-index="4" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">Thanks for always keeping your WordPress themes up to date. Your level of support is second to none. </h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4.png" alt="Sally Ramsey"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Sally Ramsey                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Reporter</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide" data-slick-index="5" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">I’ve used it on the same outing for both my 10 week old and my two year old who refused to use her buggy board. Really comfortable for both parent and child</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21.jpg" alt="Sue Saakyan"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Sue Saakyan                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide" data-slick-index="6" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">My little one is 3 months old and hasn't liked any of the wrap style carriers but loves to sleep upright on my chest. This has been perfect.</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19.jpg" alt="Oliver Beddows"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Oliver Beddows                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Reporter, California</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-current slick-active" data-slick-index="7" aria-hidden="false" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">The hood is the same soft fabric as the carrier itself and is great for blocking light but keeping a good flow of air. My husband and I were so happy with the wrap we purchased for our little one on its way.</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20.jpg" alt="Filip &amp; Adri"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Filip &amp; Adri                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Actor, California</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide" data-slick-index="8" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">ThemeMove deserves 5 star for theme’s features, design quality, flexibility, customizability and support service!</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2.png" alt="Florence Polla"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Florence Polla                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Customer</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide" data-slick-index="9" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22.jpg" alt="Susan Oliver"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Susan Oliver                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">There's nothing would satisfy me much more than a worry-free clean and responsive theme for my high-traffic site.</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-1.png" alt="Anais Coulon"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Anais Coulon                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Actor</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-23.jpg" alt="Eliza Gomes"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Eliza Gomes                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-cloned" data-slick-index="12" id="" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">Really good design/documentation, pretty much everything is nicely setup. The best choice for Woocommerce shop.</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-3.png" alt="Ian Schneider"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Ian Schneider                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Actor</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-cloned" data-slick-index="13" id="" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-18.jpg" alt="Julia Baro"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Julia Baro                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-cloned" data-slick-index="14" id="" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">Thanks for always keeping your WordPress themes up to date. Your level of support is second to none. </h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-4.png" alt="Sally Ramsey"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Sally Ramsey                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Reporter</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-cloned" data-slick-index="15" id="" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">I’ve used it on the same outing for both my 10 week old and my two year old who refused to use her buggy board. Really comfortable for both parent and child</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-21.jpg" alt="Sue Saakyan"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Sue Saakyan                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-cloned" data-slick-index="16" id="" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">My little one is 3 months old and hasn't liked any of the wrap style carriers but loves to sleep upright on my chest. This has been perfect.</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-19.jpg" alt="Oliver Beddows"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Oliver Beddows                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Reporter, California</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-cloned" data-slick-index="17" id="" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">The hood is the same soft fabric as the carrier itself and is great for blocking light but keeping a good flow of air. My husband and I were so happy with the wrap we purchased for our little one on its way.</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-20.jpg" alt="Filip &amp; Adri"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Filip &amp; Adri                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Actor, California</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-cloned" data-slick-index="18" id="" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">ThemeMove deserves 5 star for theme’s features, design quality, flexibility, customizability and support service!</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2018/10/testimonial-avatar-2.png" alt="Florence Polla"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Florence Polla                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Customer</div>
                                                    </div>
                    </div>
                </div>
            </div><div class="learts-testimonial-carousel__item single-testimonial slick-slide slick-cloned" data-slick-index="19" id="" aria-hidden="true" style="width: 1794px;">
                <div class="row">


                    <div class="testimonial-content col-xs-12">
                        <h3 class="learts-testimonial-carousel__text">The fabric is phenomenal, soft, elastic just the right amount and so supporting. We can't wait to use it</h3>

                                                    <div class="cite-image learts-testimonial-carousel__img"><img decoding="async" src="https://learts-4437.kxcdn.com/wp-content/uploads/2020/12/hp15-img-22.jpg" alt="Susan Oliver"></div>

                        <div class="box-cite">
                            <div class="learts-testimonial-carousel__cite">
                                Susan Oliver                            </div>
                                                            <div class="learts-testimonial-carousel__sub-cite">Designer, Manchester</div>
                                                    </div>
                    </div>
                </div>
            </div></div></div>





























                <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button></div>

<div class="tm-shortcode learts-space" id="learts-space-4"></div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
</div>	</div>
</article>