<section class="">
    <div class="container">
        <div class="text-center g-my-50 u-heading-v3-1 g-mb-40">
            <h2 class="text-uppercase h2 u-heading-v3__title g-brd-primary">Whats Happening</h2>
        </div>



        <div class=" col-lg-4 col-md-6 col-sm-6 col-12 learts-mb-40">
            <div class="blog">
                <div class="image">
                        <img id="bannerImage-387920756793" class="lazyautosizes lazyloaded"
                            data-src="/img/fairy.jpg"
                            data-sizes="auto" alt="Fairy School" sizes="370px"
                            src="/img/fairy.jpg">

                </div>
                <div class="content">

                    <h5 class="title">Fairy School</h5>
                    <div class="desc">
                        <p>After 21 years we are bringing back the magic for the kids!</p>
                        <p>Every Saturday at 10am our resident fairy, Rhiannon, will be hosting an hour of fairy fun.</p>
                    </div>
                </div>
            </div>
        </div>



        <div class="row g-3 mt-5 mb-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-img-top image-card image-card-1"> <img src="/img/tarot.png" alt="..."> </div>
                    <div class="card-body"> <span class="fw-bold fs-6">Tarot Readings</span>
                        <h6 class="card-title text-dark mt-2">What you wants to know about hubspot?</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                        <div class="mt-4 about d-flex justify-content-between align-items-center"> <span><a href="/readings">More Info</a></span> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-img-top image-card image-card-2"> <img src="/img/fairy.jpg" alt="..."> </div>
                    <div class="card-body"> <span class="fw-bold fs-6">Fairy School</span>
                        <h6 class="card-title text-dark mt-2">After 21 years we are bringing back the magic for the kids!</h6>
                        <p class="card-text">Every Saturday at 10am our resident fairy, Rhiannon, will be hosting an hour of fairy fun.
                        <div class="mt-4 about d-flex justify-content-between align-items-center"> <a href="/fairy-school">More Info</a></span> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-img-top image-card image-card-3"> <img src="/img/meditation.jpg" alt="..."> </div>
                    <div class="card-body"> <span class="fw-bold fs-6">Meditation Group</span>
                        <h6 class="card-title text-dark mt-2">What you wants to know about hubspot?</h6>
                        <p class="card-text">Each week the group is lead by Shallagh in a beautiful guided meditative journey channeled from Guides, Angels & Ascended Masters for personal psychic & spiritual development. </p>
                        <div class="mt-4 about d-flex justify-content-between align-items-center"> <a href="/readings">More Info</a></span> </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<style>
  .auto-init{
    background-image:url('public/img/bg.jpg');
    background: linear-gradient(180deg, #000 0%, #4d0f8a 100%);
  }

  .auto-init {
            background-image:
            linear-gradient(180deg, #000, #4d0f8a), url('public/img/bg.jpg');
            width: 100%;
            height: 280px;
            text-align: center;
              color: #fff;
        }

  .card {
    border-radius: 20px;
    overflow: hidden;
    border: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
  }

  .image-card {
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden
  }

  .image-card-1 {
      background-color: #18A4F7
  }

  .image-card-2 {
      background-color: #00D7D2
  }

  .image-card-3 {
      background-color: #FF75A0
  }

  .image-card img {
      height: 150px;
      width: 150px;
      object-fit: cover
  }

  .card-text {
      font-size: 13px
  }

  .card-body a {
      font-size: 12px
  }

  .about span {
      font-size: 12px
  }
</style>