<section class="section-padding">
    <div class="container">
        <div class="text-center pb-5 u-heading-v3-1 g-mb-40">
            <h2 class=" h2 u-heading-v3__title g-brd-primary">What's Happening?</h2>
        </div>

        <div class="row">
            <div class=" col-lg-4 col-md-6 col-sm-6 col-12 learts-mb-40">
                <div class="blog">
                    <div class="image">
                        <a href="/contact">
                            <img id="-387920756793" class="whatimage" data-src="/img/meditation.jpg" data-sizes="auto" alt="" sizes="370px" src="/img/meditation.jpg">
                        </a>
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="/contact">Workshops & Sacred Circles</a></h5>
                        <div class="desc">
                            <p>Our workshops are ever-evolving offerings designed to inspire, nourish and gently expand. From energy work and meditation to creative and sacred practices, each gathering is an invitation to learn, explore and connect with yourself and with others in a supportive, soul-led space.</p>
                        </div>
                        <a href="/contact" class="">Contact us for more details</a>
                    </div>
                </div>
            </div>

            <div class=" col-lg-4 col-md-6 col-sm-6 col-12 learts-mb-40">
                <div class="blog">
                    <div class="image">
                        <a href="/contact">
                            <img id="-387920756793" class="whatimage" data-src="/img/story-time.jpg" data-sizes="auto" alt="" sizes="370px" src="/img/story-time.jpg">
                        </a>
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="/contact">Story Time</a></h5>
                        <div class="desc">
                            <p>Saturday morning sessions continue the tradition of magical storytelling and creative exploration.
                            These evolving workshops for children blend stories, imagination and mindful activities, offering a playful space to learn, create and connect.
                            Each session is different, making Saturdays a little pocket of magic for curious minds
                            .</p>
                        </div>
                        <a href="/contact" class="">Contact us for more details</a>
                    </div>
                </div>
            </div>

            <div class=" col-lg-4 col-md-6 col-sm-6 col-12 learts-mb-40">
                <div class="blog">
                    <div class="image">
                        <a href="/contact">
                            <img id="-387920756793" class="whatimage" data-src="/img/tarot.jpg" data-sizes="auto" alt="" sizes="370px" src="/img/tarot.jpg">
                        </a>
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="/contact">Readings</a></h5>
                        <div class="desc">
                            <p>Whether you’re seeking clarity, reassurance, insight or gentle confirmation, our intuitive readers offer a range of soulful sessions to support you. From cards and symbols to energy and intuitive insight, each reading is a sacred pause... a moment to listen, reflect, and reconnect with your inner knowing.</p>
                        </div>
                        <a href="/contact" class="">Contact us for more details</a>
                    </div>
                </div>
            </div>
        </div>





    </div>
</section>

<style>
    .whatimage{height:300px;object-fit: cover;}
    .whatimage:hover{transform: scale(1.02);}
  .auto-init{
    background-image:url('public/img/bg.jpg');
    background: linear-gradient(180deg, #000 0%, #4d0f8a 100%);
  }

  .auto-init {
            background-image:
            linear-gradient(180deg, #000, #4d0f8a), url('public/img/bg.jpg');
            width: 100%;
            height: 280px;
            text-align: center;
              color: #fff;
        }

  .card {
    border-radius: 20px;
    overflow: hidden;
    border: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
  }

  .image-card {
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden
  }

  .image-card-1 {
      background-color: var(--primary-text)
  }

  .image-card-2 {
      background-color: var(--primary-text)
  }

  .image-card-3 {
      background-color: var(--primary-text)
  }

  .image-card img {
      height: 150px;
      width: 150px;
      object-fit: cover
  }

  .card-text {
      font-size: 13px
  }

  .card-body a {
      font-size: 12px
  }

  .about span {
      font-size: 12px
  }
</style>