<section class="section-padding">
    <div class="container">
        <div class="text-center pb-5 u-heading-v3-1 g-mb-40">
            <h2 class=" h2 u-heading-v3__title g-brd-primary">What's Happening</h2>
        </div>

        <div class="row">
            <!-- <div class=" col-lg-4 col-md-6 col-sm-6 col-12 learts-mb-40">
                <div class="blog">
                    <div class="image">
                        <a href="/contact">
                            <img id="-387920756793" class="whatimage" data-src="/img/meditation.jpg" data-sizes="auto" alt="" sizes="370px" src="/img/meditation.jpg">
                        </a>
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="/contact">Meditation Group</a></h5>
                        <div class="desc">
                            <p>Looking for stillness? For softness? Our guided meditations offer you space to come home to yourself.</p>
                        </div>
                        <a href="/contact" class="">Contact us for more details</a>
                    </div>
                </div>
            </div> -->

            <div class=" col-lg-4 col-md-6 col-sm-6 col-12 learts-mb-40">
                <div class="blog">
                    <div class="image">
                        <a href="/contact">
                            <img id="-387920756793" class="whatimage" data-src="/img/reiki.jpg" data-sizes="auto" alt="" sizes="370px" src="/img/reiki.jpg">
                        </a>
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="/contact">Reiki Workshops</a></h5>
                        <div class="desc">
                            <p>Step into a space of calm, connection, and transformation. Workshops designed to guide you through the foundational principles of Reiki.</p>
                        </div>
                        <a href="/contact" class="">Contact us for more details</a>
                    </div>
                </div>
            </div>

            <div class=" col-lg-4 col-md-6 col-sm-6 col-12 learts-mb-40">
                <div class="blog">
                    <div class="image">
                        <a href="/contact">
                            <img id="-387920756793" class="whatimage" data-src="/img/tarot.jpg" data-sizes="auto" alt="" sizes="370px" src="/img/tarot.jpg">
                        </a>
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="/contact">Tarot Reading</a></h5>
                        <div class="desc">
                            <p>Whether you're seeking guidance on love, career, or your next move, this bite-sized session delivers powerful messages in just a few cards.</p>
                        </div>
                        <a href="/contact" class="">Contact us for more details</a>
                    </div>
                </div>
            </div>
        </div>





    </div>
</section>

<style>
    .whatimage{height:300px;object-fit: cover;}
    .whatimage:hover{transform: scale(1.02);}
  .auto-init{
    background-image:url('public/img/bg.jpg');
    background: linear-gradient(180deg, #000 0%, #4d0f8a 100%);
  }

  .auto-init {
            background-image:
            linear-gradient(180deg, #000, #4d0f8a), url('public/img/bg.jpg');
            width: 100%;
            height: 280px;
            text-align: center;
              color: #fff;
        }

  .card {
    border-radius: 20px;
    overflow: hidden;
    border: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
  }

  .image-card {
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden
  }

  .image-card-1 {
      background-color: var(--primary-text)
  }

  .image-card-2 {
      background-color: var(--primary-text)
  }

  .image-card-3 {
      background-color: var(--primary-text)
  }

  .image-card img {
      height: 150px;
      width: 150px;
      object-fit: cover
  }

  .card-text {
      font-size: 13px
  }

  .card-body a {
      font-size: 12px
  }

  .about span {
      font-size: 12px
  }
</style>