<section class="section-padding">
    <div class="container">

        <div class="section-title2 text-center">
            <h2 class="title title-icon-both">What's Happening</h2>
        </div>

        <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 learts-mb-n40">
            <div class="col learts-mb-40">
                <div class="blog">
                    <div class="image">
                        <a href="/meditation"><img id="bannerImage-387920756793" class="lazyautosizes ls-is-cached lazyloaded" data-src="//learts-demo.myshopify.com/cdn/shop/articles/4_411x222.jpg?v=1606714965" data-sizes="auto" alt="" sizes="270px" src="/img/meditation.jpg"></a>
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="/meditation">Meditation Group</a></h5>
                        <div class="desc">
                        <p>Looking for stillness? For softness? Our guided meditations offer you space to come home to yourself. Book a session, breathe, and reconnect with your inner light.</p>
                        </div>
                        <a href="/meditation" class="link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col learts-mb-40">
                <div class="blog">
                    <div class="image">
                        <a href="/readings"><img id="bannerImage-387920756793" class="lazyautosizes ls-is-cached lazyloaded" data-src="//learts-demo.myshopify.com/cdn/shop/articles/4_411x222.jpg?v=1606714965" data-sizes="auto" alt="" sizes="270px" src="/img/tarot.png"></a>
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="/readings">Tarot Readings</a></h5>
                        <div class="desc">
                        <p>Looking for stillness? For softness? Our guided meditations offer you space to come home to yourself. Book a session, breathe, and reconnect with your inner light.</p>
                        </div>
                        <a href="/readings" class="link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col learts-mb-40">
                <div class="blog">
                    <div class="image">
                        <a href="/meditation"><img id="bannerImage-387920756793" class="lazyautosizes ls-is-cached lazyloaded" data-src="//learts-demo.myshopify.com/cdn/shop/articles/4_411x222.jpg?v=1606714965" data-sizes="auto" alt="" sizes="270px" src="/img/meditation.jpg"></a>
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="/meditation">Healings</a></h5>
                        <div class="desc">
                        <p>Looking for stillness? For softness? Our guided meditations offer you space to come home to yourself. Book a session, breathe, and reconnect with your inner light.</p>
                        </div>
                        <a href="/meditation" class="link">Read More</a>
                    </div>
                </div>
            </div>
        </div>





    </div>
</section>

<style>
  .auto-init{
    background-image:url('public/img/bg.jpg');
    background: linear-gradient(180deg, #000 0%, #4d0f8a 100%);
  }

  .auto-init {
            background-image:
            linear-gradient(180deg, #000, #4d0f8a), url('public/img/bg.jpg');
            width: 100%;
            height: 280px;
            text-align: center;
              color: #fff;
        }

  .card {
    border-radius: 20px;
    overflow: hidden;
    border: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
  }

  .image-card {
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden
  }

  .image-card-1 {
      background-color: var(--primary-text)
  }

  .image-card-2 {
      background-color: var(--primary-text)
  }

  .image-card-3 {
      background-color: var(--primary-text)
  }

  .image-card img {
      height: 150px;
      width: 150px;
      object-fit: cover
  }

  .card-text {
      font-size: 13px
  }

  .card-body a {
      font-size: 12px
  }

  .about span {
      font-size: 12px
  }
</style>